.main-layout {
    display: grid;
    grid-template-columns: 1fr var(--mainContentSize) 1fr;

}

.main-layout>* {
    grid-column: 2;
}

.main-layout .full {
    grid-column: 1/-1;
}


.closed {
    display: none !important;
}