.meme-editor {
    display: grid;
    grid-template-columns: minmax(250px, 500px) 30px minmax(250px, 500px);
    justify-content: center;
}

.main-canvas {
    background-color: aliceblue;
    height: min-content;
    margin-block: auto;
}

.main-editor {
    grid-column: 3;
    background-color: rgb(59, 59, 59);
    border-radius: 30px;
    width: minmax(1fr, 400px);
    max-height: 500px;
}

.main-editor > * {
    padding: 15px;
}

.main-editor button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    margin-inline: 5px;
}

.main-editor .add-txt,
.delete-txt,
.current-txt {
    font-size: 25px;
}

.main-editor .current-txt {
    transform: rotate(90deg);
}

.main-editor .current-txt:hover {
    background-color: rgb(70, 120, 214);
}

.main-editor .add-txt:hover {
    background-color: rgb(84, 168, 88);
}

.main-editor .delete-txt:hover {
    background-color: rgb(219, 65, 31);
}

.main-editor .input-txt {
    border-radius: 10px;
    width: minmax(30vw, 400px);
    height: 50px;
}
.main-editor .input-txt:focus {
    background-color: lightgray;
}

.main-editor .txt-style {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    width: minmax(30vw, 400px);
    background-color: rgba(148, 226, 222, 0.734);
    padding: 10px;
}

.main-editor .txt-style .font {
    height: 50px;
}
.main-editor .txt-style .set-font {
    border-radius: 5px;
}

.color {
    margin-inline: 5px;
}

.color label {
    font-size: 25px;
    color: black;
}

.main-editor .txt-style .color-text,
.color-text-around {
    width: 30px;
    height: 30px;
    display: none;
}

.main-editor .emoji {
    background-color: rgba(245, 245, 220, 0.489);
    border-radius: 10px;
    padding: 5px;
}

.main-editor .emoji span {
    font-size: 30px;
    background-color: lightgrey;
    border-radius: 10px;
    cursor: pointer;
}
.main-editor .emoji span:hover {
    background-color: rgba(211, 211, 211, 0.628);
}

.main-editor .share-download-bar {
    justify-content: space-between;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: gray;
}

.main-editor .share-download-bar .facebook-btn,
.save {
    font-size: 25px;
}

.main-editor .share-download-bar .facebook-btn:hover {
    background-color: rgb(31, 46, 159);
    color: white;
}

.main-editor .share-download-bar .save:hover {
    background-color: rgb(231, 195, 111);
}

.main-editor .share-download-bar a {
    color: white;
}

.main-editor .share-download-bar a:hover {
    color: rgb(74, 106, 237);
}
