.img-gallery div {
    position: relative;
    

}

.img-gallery .delete-Meme {
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.img-gallery .delete-Meme:hover {
    background-color: rgb(235, 91, 91);
}